<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UseNetwork</key>
	<true/>
	<key>LocalDataPath</key>
	<string>/Users/ldq847/MyFolders/Code Source/AqrDomain/AqrDomain/LocalData</string>
</dict>
</plist>
